Construiré un dataframe a partir de las 4 listas usadas en ejercicios anteriores:

In [1]:
import pandas as pd

lista1 = ['Larrain', 'F', 25, 1.70]
lista2 = ['Perez', 'F', 33, 1.60]
lista3 = ['Errazuriz', 'F', 29, 1.77]
lista4 = ['Gonzalez', 'M', 43, 1.90]
columns = ['apellido', 'sexo', 'edad', 'altura']

lista_concatenada = [lista1, lista2, lista3, lista4]
print(lista_concatenada)

[['Larrain', 'F', 25, 1.7], ['Perez', 'F', 33, 1.6], ['Errazuriz', 'F', 29, 1.77], ['Gonzalez', 'M', 43, 1.9]]

In [2]:
df = pd.DataFrame(lista_concatenada, columns=['apellido', 'sexo', 'edad', 'altura'])
print(df)

    apellido sexo  edad  altura
0    Larrain    F    25    1.70
1      Perez    F    33    1.60
2  Errazuriz    F    29    1.77
3   Gonzalez    M    43    1.90

In [5]:
L = df.values.tolist() # ésto para ir en el sentido inverso: hacer una lista de listas

In [6]:
print(L)

[['Larrain', 'F', 25, 1.7], ['Perez', 'F', 33, 1.6], ['Errazuriz', 'F', 29, 1.77], ['Gonzalez', 'M', 43, 1.9]]

Lo siguiente es para volver a las listas originales:

In [24]:
print(L[0])
print(L[1]) 
print(L[2])
print(L[3])

['Larrain', 'F', 25, 1.7]
['Perez', 'F', 33, 1.6]
['Errazuriz', 'F', 29, 1.77]
['Gonzalez', 'M', 43, 1.9]

Lo siguiente es para hacer un subset de datos sólo de la persona Errazuriz:

In [20]:
df_errazuriz = df[df['apellido'] == 'Errazuriz']
print(df_errazuriz)

    apellido sexo  edad  altura
2  Errazuriz    F    29    1.77